doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheets/form.css")
        title Form fillup
    body 
        header please fillup this form
        form(action="/display-form-details",method="POST",enctype="multipart/form-data")
            div
                label(for="user-name") Please Enter Name 
                input(type="text",id="user-name",name="userName") 
            div
                label(for="user-age") Please Enter Your Age 
                input(type="number",id="user-age",name="userAge") 
            div
                label(for="user-pass") Please Enter A Password 
                input(type="password",id="user-pass",name="userPassword")
            div
                button Click to submit