doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="stylesheets/showData.css")
    body 
        h4 Showing details
        ul 
            li Your name is:  #{userName} 
            li Your age is:  #{userAge}
            li Your entered password is:  #{userPassword}
